* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Opens Sans', sans-serif;
    height: 100vh;
    background: #ccc !important;
}

#container {    
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #006D77;
    border-radius: 5px; 
}

.logo {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #006D77;
}

.logo img {
    width: 115px;
    border-radius: 50%;
    position: absolute;
    padding-bottom: 5px;
}

span{
    position: absolute;
    transform-origin: 0 80px;
}

.text{
    height: 160px;
    font-size: 16px;
    font-weight: bold;
    color: #57cc99;
    background: #57cc99;
    animation: animate 30s linear infinite;
}
@keyframes animate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.middle{
    border: 1px solid #38a3a5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 3px #fff;
}

.container_middle-1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #c7f9cc;
}

.container_middle_button {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.btn-agendar{
    display: inline-block;
    width: 250px;
}

.btn-agendar .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #57cc99;
    background: #22577a;
    padding: 6px;
    margin-top: .5rem;
}

.btn-agendar .btn:hover{
    cursor: pointer;
    background: #38a3a5;
    box-shadow: 0px 0px 5px 5px #ffffff;
}
.btn a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .icon {
    float: left;
}

.btn h3{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn h3:hover{
    color: #22577a;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.menu li {
    width: 8%;
    list-style: none;
    display: inline-block;
}
.menu a{
    text-decoration: none;
    color: #22577a;
    padding: 10px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: #22577a;
    color: #fff;
    border-radius: 5px;
}

.burguer{
    display: none;
}

/*MAIN*/
#demo {
    width: 100%;
    margin: auto;
}
.carousel-item img {
    width: 40%;
    height: 400px;
    margin: 30px auto 10px auto;
    border-radius: 5px;
}
.carousel-indicators{
    background: none;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    border-radius: 50%;
}
section {
    width: 90%;
    margin: 50px auto;
    text-indent: 20px;
    text-align: justify;
}
.section-inicio{
    text-align: center;
    color: #22577a;
}
.section-inicio {
    width: 90%;
    margin: 2rem auto;
}
.section-inicio h4{
    line-height: 2;
}
.section-destaque, .section-servicos, .section-agendamento, .section-noticias, .section-contato, .section-missao{
    border: 1px solid #22577a;
    padding: 10px;
    border-radius: 10px;
}
.section-destaque h3, .section-servicos h3, .section-agendamento h3, .section-noticias h3, .section-contato h3, .section-missao h3{
    color: #fff;
    font-weight: bold;
    background-color: #006D77;
    padding: 10px;
    border-radius: 5px;
}
.section-destaque h5, .section-servicos h5, .section-agendamento h5, .section-noticias h5, .section-contato h5{
    color: #22577a;
}
.btn-consulta-1 a{
    text-decoration: none;
    color: #fff;
}
.btn-consulta-1 a:hover{
    color: #57cc99;
}
.section-destaque p, .section-servicos p, .section-agendamento p, .section-noticias p, .section-contato p, .section-missao p{
    color: #00000080;
    line-height: 1.6;
}
.section-servicos li{
    color: #00000080;
}
.sobre{
    width: 90%;
    margin: 0 auto 2rem;
    text-align: justify;
    border: 1px solid #22577a;
    padding: 20px;
    margin-top: 3rem;
    border-radius: 10px;
}
.btn-consulta{
    width: 35%;
    height: 75px;
    border-radius: 10px;
    border: 3px solid #38a3a5;
    background-color: #22577a;
    font-size: 30px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.btn-consulta:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #38a3a5;
}
.btn-consulta a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-consulta a:hover{
    color: #57cc99;
}
.btn-consulta-1{
    width: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #38a3a5;
    background-color: #22577a;
    color: #fff;
    font-weight: 600;
    margin-left: 1rem;
}
.btn-consulta-1:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #38a3a5;
}
.btn-agenda{
    display: flex;
    margin-bottom: 3rem;
}
.bloco{
    border: 1px solid #22577a;
    padding: 10px;
    border-radius: 10px;
}
.bloco h3{
    color: #22577a;
    font-weight: bold;
}
.bloco p{
    color: #00000080;
    line-height: 1.6;
}
.bloco .btn{
    width: fit-content;
    display: block;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    border: 2px solid #38a3a5;
    margin-left: auto;
    text-align: center;
    padding: 6px;
    background-color: #22577a;
}
.bloco .btn:hover{
    background-color: #006D77;
    color: #fff;
    border: 2px solid #22577a;
    font-weight: bold;
}
form{
    border: 1px solid #22577a;
    border-radius: 10px;
    padding: 30px;
    width: 75%;
    height: auto;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    background: #ccc;
}
.form label{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}
.form input{
    border-radius: 5px;
    height: 35px;
    border: none;
    padding: 5px;
    margin-bottom: 1rem;
}
.btn-form{
    width: 150px;
    display: block;
    padding: 6px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #22577a;
    background-color: #38a3a5;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.btn-form:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #38a3a5;
    background-color: #22577a;
}
.form textarea{
    height: 100px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

footer{
    background-color: #006D77;
    text-align: center;
    padding: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000;
    letter-spacing: 2px;
}

/*RESPONSIVO*/
@media only screen and (max-width:600px){
    #container{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .items{
        width: 100%;
    }
    .burguer{
        background-color: #57cc99;
        display: block;
        text-align: center;
        width: 100%;
        height: 30px;
    }
    .logo{
        margin-top: 1rem;
    }
    .middle{
        width: 90%;
        margin-bottom: 1rem;
    }
    #nav-menu, .slide{
        display: none;
    }
    .btn-consulta-1{
        margin: auto;
    }
    .section-inicio h3, .section-missao, .section-destaque h3, .section-servicos h3, .section-agendamento h3, .section-noticias h3, .section-contato h3, h5{
        text-align: center;
    }
    .menu{
        text-align: center;
        padding-left: 0;
    }
    .menu li{
        list-style: none;
        display: inline-block;
        padding: 0;
        width: 25%;
    }
    .menu a{
        background-color: #c1bebe;
        display: block;
    }
    .btn-agendar{
        margin-bottom: 1rem;
    }
    .btn-consulta{
        width: 40%;
        margin: 0 auto;
    }
    .btn-consulta a{
        font-size: 20px;
        text-align: center;
    }
    .btn-form{
        margin-bottom: 2rem;
    }
    footer{
        text-align: center;
        font-size: 12px;
    }
    footer p{
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width:601px) and (max-width:900px){
    #container{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .items{
        width: 100%;
    }
    .burguer{
        background-color: #57cc99;
        display: block;
        text-align: center;
        width: 100%;
        height: 30px;
    }
    .logo{
        margin-top: 1rem;
    }
    .middle{
        width: 90%;
        margin-bottom: 1rem;
    }
    #nav-menu, .slide{
        display: none;
    }
    .btn-consulta-1{
        margin: auto;
    }
    .section-inicio h3, .section-missao, .section-destaque h3, .section-servicos h3, .section-agendamento h3, .section-noticias h3, .section-contato h3, h5{
        text-align: center;
    }
    .btn-agendar{
        width:30%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .btn{
        width: 75%;
        height: 40px;
    }
    .btn .icon{
        width: 35px;
    }
    .btn h3{
        font-size: 9px;
    }
    .middle{
        width: 45%;
    }
    .middle h3{
        font-size: 22px;
    }
    .btn-consulta{
        width: 40%;
        height: 10vh;
    }
    .btn-consulta a{
        font-size: 22px;
        text-align: center;
    }
}